<div class="main-content">
    <div class="container-fluid">
        <div class="modal fade" id="myMessage" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <!-- <h4 class="modal-title">Close</h4> -->
                    </div>
                    <div class="modal-body">
                        <form>
                            <br>
                            <input type="text" name='Chủ đề' placeholder="Chủ đề" [(ngModel)]='subject' />
                            <br>
                            <br>
                            <textarea type="text" name='message' placeholder="Nội dung" style="width:450px;height:250px" [(ngModel)]='content'></textarea>
                            <button class="btn btn-info" (click)='addNews()'>Thêm</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <!-- <h4 class="card-title ">Ngưởi đăng: Mr BND</h4> -->
                        <p class="card-category">Ngày cập nhật: 28/05/2018</p>
                        <p class="card-category">Tag:</p>
                    </div>
                    <div class="card-body">
                        <p>Sau tất cả mình lại trở về với nhau Tựa như chưa bắt đầu, tựa như ta vừa mới quen Sau tất cả long
                            chẳng hề đổi thay Từng ngày xa lìa khiến con tim bồi hồi Và ta lại gần nhau hơn nữa </p>
                        <button class="btn btn-info">DELETE</button>
                        <button class="btn btn-info">EDIT</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <!-- <h4 class="card-title ">Ngưởi đăng: Mr BMQ</h4> -->
                        <p class="card-category">Ngày cập nhật: 27/05/2018</p>
                        <p class="card-category">Tag:</p>
                    </div>
                    <div class="card-body">
                        <p>Sau tất cả mình lại trở về với nhau Tựa như chưa bắt đầu, tựa như ta vừa mới quen Sau tất cả long
                            chẳng hề đổi thay Từng ngày xa lìa khiến con tim bồi hồi Và ta lại gần nhau hơn nữa </p>
                        <button class="btn btn-info">DELETE</button>
                        <button class="btn btn-info">EDIT</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myMessage">Thêm</button>
    </div>
</div>
