<div class="" style="border-radius: 2;">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
      <div class="card card-profile">
        <div class="card-avatar">
          <a href="#pablo">
            <img class="img" [src]="imgPath" style="background-color: white" />
          </a>
        </div>
        <div class="content">
          <h4 class="card-title">MY PROFILE</h4>
          <div class="card-content">
            <div class="row">
              <div class="col-md-6">
                <ul class="list-group">
                  <li class="list-group-item text-muted" contenteditable="false" style="color: white;">
                    <strong>Thông tin cá nhân</strong>
                  </li>
                  <li class="list-group-item text-right">
                    <span class="pull-left">Email : </span>
                    <p>"email"</p>
                  </li>
                  <li class="list-group-item text-right">
                    <span class="pull-left">SkypeID : </span>
                    <p>"skype"</p>
                  </li>
                  <li class="list-group-item text-right">
                    <span class="pull-left">Facebook : </span>
                    <p>"facebook"</p>
                  </li>
                  <li class="list-group-item text-right">
                    <span class="pull-left">Điện thoại: </span>
                    <p>"phone"</p>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-group">
                  <li class="list-group-item text-muted" contenteditable="false" style="color: white;">
                    <strong>Thông tin thêm</strong>
                  </li>
                  <li class="list-group-item text-right">
                    <span class="pull-left">Ngoại ngữ : </span>
                    <p>"ngoaingu"</p>
                  </li>
                  <li class="list-group-item text-right">
                    <span class="pull-left">Chứng chỉ : </span>
                    <p>"chungchi"</p>
                  </li>
                  <li class="list-group-item text-right">
                    <span class="pull-left">Kinh nghiệm : </span>
                    <p>"kinhnghiem"</p>
                  </li>
                  <li class="list-group-item text-right">
                    <span class="pull-left">Định hướng : </span>
                    <p>"dinhhuong"</p>
                  </li>
                  <li class="list-group-item text-right">
                    <span class="pull-left">Ghi chú : </span>
                    <p>"ghi chú"</p>
                  </li>
                </ul>
              </div>

            </div>
            <a href="" class="btn btn-round">Chỉnh sửa</a>
          </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
      <div class="card" style="margin-left: 60px;">
        <div class="card-header" data-background-color="gray">
          <h4 class="title">Thông tin quá trình học</h4>
          <p class="category"></p>
        </div>
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td>Mã sinh viên</td>
                <td>16021061</td>
              </tr>
              <tr>
                <td>Lớp</td>
                <td>C-CLC</td>
              </tr>
              <tr>
                <td>Khóa</td>
                <td>QH2016</td>
              </tr>
              <tr>
                <td>Ngành</td>
                <td>CNTT</td>
              </tr>
              <tr>
                <td>Địa chỉ</td>
                <td>Hà Nội</td>
              </tr>
              <tr>
                <td>Ngày sinh</td>
                <td>dateofbirth</td>
              </tr>
              <tr>
                <td>Email VNU</td>
                <td>CNTT</td>
              </tr>
              <tr>
                <td>Điểm trung bình</td>
                <td>CNTT</td>
              </tr>
              <tr>
                <td>Năm tốt nghiệp dự kiến</td>
                <td>CNTT</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>