<!doctype html>
<html lang="en">

<head>

</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" [attr.data-image]="sidebarImgPath">
            <div class="logo">
                <a href="" class="simple-text" style="color: #fff;">
                    <b>Sinh Viên</b>
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="ql">
                        <a data-toggle="dropdown" href="">
                            <i class="material-icons" style="font-size: 130%;">content_paste</i>
                            <p style="font-size: 130%;">THỰC TẬP</p>
                        </a>
                    </li>
                    <li class="thuctap_hide">
                        <a data-toggle="dropdown" href="">
                            <i class="material-icons" style="font-size: 70%;">content_paste</i>
                            <p>Tìm thông tin</p>
                        </a>
                    </li>
                    <li class="thuctap_hide">
                        <a data-toggle="dropdown" href="">
                            <i class="material-icons" style="font-size: 70%;">content_paste</i>
                            <p>Đăng ký thực tập</p>
                        </a>
                    </li>
                    <li class="ql_1">
                        <a data-toggle="dropdown" href="">
                            <i class="material-icons" style="font-size: 130%;">library_books</i>
                            <p style="font-size: 130%;">BÁO CÁO</p>
                        </a>
                    </li>
                    <li class="baocao_hide">
                        <a data-toggle="dropdown" href="">
                            <i class="material-icons" style="font-size: 70%;">library_books</i>
                            <p>Báo cáo định kỳ</p>
                        </a>
                    </li>
                    <li class="baocao_hide">
                        <a data-toggle="dropdown" href="">
                            <i class="material-icons" style="font-size: 70%;">library_books</i>
                            <p>Toàn văn báo cáo</p>
                        </a>
                    </li>
                    <li class="ql_2">
                        <a data-toggle="dropdown" href="">
                            <i class="material-icons" style="font-size: 130%;">bubble_chart</i>
                            <p style="font-size: 130%;">NHẬN XÉT</p>
                        </a>
                    </li>
                    <li class="nhanxet_hide">
                        <a data-toggle="dropdown" href="">
                            <i class="material-icons" style="font-size: 70%;">bubble_chart</i>
                            <p>Từ doanh nghiệp</p>
                        </a>
                    </li>
                    <li class="nhanxet_hide">
                        <a data-toggle="dropdown" href="">
                            <i class="material-icons" style="font-size: 70%;">bubble_chart</i>
                            <p>Từ giảng viên</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- <a class="navbar-brand" href="#"> Quản lý </a> -->
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">dashboard</i>
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="hidden-lg hidden-md">Notifications</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Thông báo 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Thông báo 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Thông báo 3</a>
                                    </li>
                                    <li>
                                        <a href="#">Thông báo 4</a>
                                    </li>
                                    <li>
                                        <a href="#">Thông báo 5</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <!-- <a href="./user.html">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a> -->
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group  is-empty">
                                <input type="text" class="form-control" placeholder="Tìm kiếm">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</body>

</html>