<div class="row">
<div class="col-md-8">
    <div class="card">
        <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <span class="nav-tabs-title">Kỹ nghệ:</span>
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                <i class="material-icons">receipt</i>Công ty
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                <i class="material-icons">code</i> Kĩ năng
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                <i class="material-icons">cloud</i> Dự án
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="profile">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Google</td>
                                <!-- <td class="td-actions text-right">
                                    <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td> -->
                            </tr>
                            <tr>
                                <td>Facebook</td>
                                <!-- <td class="td-actions text-right">
                                    <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td> -->
                            </tr>
                        </tbody>
                        <button class="btn btn-primary">Thêm</button>
                    </table>
                </div>
                <div class="tab-pane" id="messages">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>AI
                                </td>
                                <!-- <td class="td-actions text-right">
                                    <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td> -->
                            </tr>
                            <tr>
                                <td>Web Development</td>
                                <!-- <td class="td-actions text-right">
                                    <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td> -->
                            </tr>
                        </tbody>
                        <button class="btn btn-primary">Thêm</button>
                    </table>
                </div>
                <div class="tab-pane" id="settings">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Testing Automation</td>
                                <!-- <td class="td-actions text-right">
                                    <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td> -->
                            </tr>
                            <tr>
                                <td>Open AI
                                </td>
                                <!-- <td class="td-actions text-right">
                                    <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td> -->
                            </tr>

                        </tbody>
                        <!-- <button class="btn btn-primary">Thêm</button> -->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
  <div class="card card-profile">
    <div class="card-avatar">
      <a>
        <img class="img" src="../assets/img/faces/marc.jpg" />
      </a>
    </div>
    <div class="card-body">
      <h6 class="card-category text-gray">Sinh viên</h6>
      <h4 class="card-title">Phạm Văn A</h4>

      <div class="card-description">
        <p>MSV: 16020922</p>
        <br>
        <p>Email: pa26@gm ail.com</p>
        <br>
        <p>Skype:</p>
        <br>
        <p>facebook:</p>
      </div>

      <!-- <a href="#pablo" class="btn btn-danger btn-round">Đổi ảnh đại diện</a> -->
    </div>
  </div>
</div>
</div>