.sidebar{
    background-color: purple;
}
.sidebar,
.off-canvas-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.sidebar .sidebar-wrapper,
.off-canvas-sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
}

.sidebar .sidebar-wrapper .dropdown .dropdown-backdrop,
.off-canvas-sidebar .sidebar-wrapper .dropdown .dropdown-backdrop {
    display: none !important;
}

.sidebar .sidebar-wrapper .navbar-form,
.off-canvas-sidebar .sidebar-wrapper .navbar-form {
    border: none;
}

.sidebar .sidebar-wrapper .nav [data-toggle="collapse"]~div>ul>li>a,
.off-canvas-sidebar .sidebar-wrapper .nav [data-toggle="collapse"]~div>ul>li>a {
    padding-left: 60px;
}

.sidebar .sidebar-wrapper .nav .caret,
.off-canvas-sidebar .sidebar-wrapper .nav .caret {
    margin-top: 13px;
    position: absolute;
    right: 18px;
}

.sidebar .logo-tim,
.off-canvas-sidebar .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;
}

.sidebar .logo-tim img,
.off-canvas-sidebar .logo-tim img {
    width: 60px;
    height: 60px;
}

.sidebar .nav,
.off-canvas-sidebar .nav {
    margin-top: 20px;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.sidebar .nav li>a,
.off-canvas-sidebar .nav li>a {
    margin: 10px 15px 0;
    border-radius: 3px;
    color: #fff;
}

.sidebar .nav li:first-child>a,
.off-canvas-sidebar .nav li:first-child>a {
    margin: 0 15px;
}


 li:hover>a,
.off-canvas-sidebar .nav li:hover>a {
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
}

.sidebar .nav li.active>a,
.off-canvas-sidebar .nav li.active>a {
    color: #FFFFFF;
}

.sidebar .nav li.active>a i,
.off-canvas-sidebar .nav li.active>a i {
    color: #FFFFFF;
}

.sidebar .nav .dropdown{
    margin: 10px 15px 0;
    border-radius: 4px !important;
    color: 3C4858;
    /* @extend .animation-transition-general; */
    display: inline-block;
}

.sidebar .nav .thuctap_hide:hover>a {
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
}

.sidebar .nav .baocao_hide:hover>a {
    background:rgba(255, 255, 255, 0.5);
    color: #fff;
}

.sidebar .nav .nhanxet_hide:hover>a {
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
}

.sidebar .nav .thuctap_hide, .sidebar .nav .baocao_hide, .sidebar .nav .nhanxet_hide {
    font-family: 'Taviraj';
}

.sidebar .nav .ql, .sidebar .nav .ql_1, .sidebar .nav .ql_2{
    background-color: rgba(0, 0, 0, 0.3);
    /* background: url("../../assets/img/2.jpg"); */
    color: #fff;
    font-family: 'Cormorant SC', serif;
    /* opacity: .7; */
}

.sidebar .nav .headx {
    /* text-align: center; */
    margin-left: 0.7vw;
    padding: 15px;
}

.sidebar .nav .ql a:hover {
    background: transparent;
}


.sidebar .nav p,
.off-canvas-sidebar .nav p {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
}

.sidebar .nav i,
.off-canvas-sidebar .nav i {
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #a9afbb;
}

.sidebar .sidebar-background,
.off-canvas-sidebar .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}

.sidebar .sidebar-background:after,
.off-canvas-sidebar .sidebar-background:after {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: #FFFFFF;
    opacity: 0.12;
    /* độ trong suốt */
}

.sidebar .logo,
.off-canvas-sidebar .logo {
    position: relative;
    padding: 15px 15px;
    z-index: 4;
}

.sidebar .logo:after,
.off-canvas-sidebar .logo:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 10%;
    height: 1px;
    width: 80%;
    background-color: rgba(180, 180, 180, 0.3);
}

.sidebar .logo p,
.off-canvas-sidebar .logo p {
    float: left;
    font-size: 20px;
    margin: 10px 10px;
    color: #FFFFFF;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar .logo .simple-text,
.off-canvas-sidebar .logo .simple-text {
    text-transform: uppercase;
    padding: 5px 0px;
    display: block;
    font-size: 18px;
    color: #3C4858;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
}

.sidebar .logo-tim,
.off-canvas-sidebar .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;
}

.sidebar .logo-tim img,
.off-canvas-sidebar .logo-tim img {
    width: 60px;
    height: 60px;
}

.sidebar:after,
.sidebar:before,
.off-canvas-sidebar:after,
.off-canvas-sidebar:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.sidebar:before,
.off-canvas-sidebar:before {
    opacity: .33;
}

.sidebar:after,
.off-canvas-sidebar:after {
    z-index: 3;
    opacity: 1;
}

.sidebar[data-image]:after,
.sidebar.has-image:after,
.off-canvas-sidebar[data-image]:after,
.off-canvas-sidebar.has-image:after {
    opacity: .77;
}

.sidebar[data-color="blue"] .nav li.active a,
.off-canvas-sidebar[data-color="blue"] .nav li.active a {
    background-color: #00bcd4;
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.sidebar[data-color="green"] .nav li.active a,
.off-canvas-sidebar[data-color="green"] .nav li.active a {
    background-color: #4caf50;
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.sidebar[data-color="orange"] .nav li.active a,
.off-canvas-sidebar[data-color="orange"] .nav li.active a {
    background-color: #ff9800;
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.sidebar[data-color="red"] .nav li.active a,
.off-canvas-sidebar[data-color="red"] .nav li.active a {
    background-color: #f44336;
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.sidebar[data-color="purple"] .nav li.active a,
.off-canvas-sidebar[data-color="purple"] .nav li.active a {
    background-color: #9c27b0;
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.off-canvas-sidebar .nav>li>a,
.off-canvas-sidebar .nav>li>a:hover {
    color: #FFFFFF;
}

.off-canvas-sidebar .nav>li>a:focus {
    background: transparent;
}

.perfect-scrollbar-on .sidebar .sidebar-wrapper,
.sidebar .sidebar-wrapper,
.perfect-scrollbar-on .main-panel,
.main-panel {
    overflow: hidden;
}

.perfect-scrollbar-off .sidebar .sidebar-wrapper,
.perfect-scrollbar-off .main-panel {
    overflow: auto;
}
