<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Danh sách sinh viên</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Mã sinh viên
                  </th>
                  <th>
                    Họ và tên
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    Năm
                  </th>
                  <th>
                    Đánh giá DN
                  </th>
                  <th>
                    Đánh giá GV
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      16020922
                    </td>
                    <td>
                      Phạm Văn A
                    </td>
                    <td>
                      pa26@gmail.com
                    </td>
                    <td>
                      2018
                    </td>

                    <td>
                      <a href="#">More details</a>
                    </td>
                    <td>
                      <button class="btn btn-primary">Comments</button>
                      <button class="btn btn-primary">Give mark</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-info action-btn">In danh sách</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-info action-btn">Gửi file</button>
      </div>
    </div>
    <br>
    <br>
    <!-- <app-lecturer-studentdashboard></app-lecturer-studentdashboard> -->
  </div>
</div>