<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-3">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myMessage" (click)='sendBtnClicked($)'>Soạn</button>
      </div>
      <div class="modal fade" id="myMessage" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <!-- <h4 class="modal-title">Close</h4> -->
            </div>
            <div class="modal-body">
              <form>

                <input type="text" name='receiver' placeholder="Người nhận" [(ngModel)]='receiver' />
                <br>
                <br>

                <input type="text" name='subject' placeholder="Chủ đề" [(ngModel)]='subject' />
                <br>
                <br>

                <textarea type="text" name='message' placeholder="Message" style="width:400px;height:200px" [(ngModel)]='message'></textarea>
                <button class="btn btn-info" (click) = 'sendMessage()'>Gửi</button>
                <br>
                <span id='error' style='color:red'></span>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Hộp thư đến</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table" id='receiveTable'>
                <thead class=" text-primary">
                  <th>
                    Tiêu đề
                  </th>
                  <th>
                    Người gửi
                  </th>
                  <th>
                    Nội dung
                  </th>
                  <th>
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor='let receiMail of listReceiveMail'>
                    <td>{{receiMail.title}}</td>
                    <td>{{receiMail.sender}}</td>
                    <td>{{receiMail.content}}</td>
                    <td>
                      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myMessage" (click)='replyBtnClicked($event)'>
                        Reply</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Hộp thư đi</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table" id='sendTable'>
                <thead class=" text-primary">
                  <th>
                    Tiêu đề
                  </th>
                  <th>
                    Người nhận
                  </th>
                  <th>
                    Nội dung
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor='let sendMail of listSendMail'>
                    <td>
                      {{sendMail.title}}
                    </td>
                    <td>
                      {{sendMail.receiver}}
                    </td>
                    <td>
                      {{sendMail.content}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
