<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Danh sách sinh viên</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Mã sinh viên
                  </th>
                  <th>
                    Họ và tên
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    Năm
                  </th>
                  <th>
                    Đánh giá DN
                  </th>
                  <th>
                    Đánh giá GV
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor='let student of listStudent'>
                    <td>
                      {{student.MSSV}}
                    </td>
                    <td>
                      {{student.name}}
                    </td>
                    <td>
                      {{student.mail}}
                    </td>
                    <td>
                      {{student.startYear}}
                    </td>

                    <td>
                      <a href="#">More details</a>
                    </td>
                    <td>
                      <!-- <button class="btn btn-primary">Comments</button> -->
                      <button type="button" class="btn btn-info " [id] = 'student._id' data-toggle="modal" data-target="#mark" (click)='giveMarkBtnClicked($event)'>Give mark</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="modal fade" id="mark" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <input type="text" id='mark' name='mark' placeholder="Điểm" [(ngModel)] = 'mark'>
                        <br>
                        <br>
                        <button class="btn btn-info" type="button" (click) ='giveMark()'>Confirm</button>

                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-info action-btn">In danh sách</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-info action-btn">Gửi file</button>
      </div>
    </div>
    <br>
    <br>
    <app-lecturer-studentdashboard></app-lecturer-studentdashboard>
  </div>
</div>
<script>
  $(function () {

    $(".dropdown-menu li").click(function () {

      $("#dropdown").text($(this).text());
      $("#dropdown").val($(this).text());
    });

  });
</script>
