
<form class="form-horizontal">
    <h3 class="col-sm-1">{{title}}</h3>
    <div class="form-group">
        <label for="username" class="col-sm-1 control-label">Username</label>
        <div class="col-sm-11">
            <input type="text" name="username" id="username"/>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-1 control-label">Password</label>
        <div class="col-sm-11">
            <input type="password" name="password" id ="password">
        </div>
    </div>
</form>