<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Company</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Tên
                  </th>
                  <th>
                    Số điện thoại
                  </th>
                  <th>
                    Status
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Google
                    </td>
                    <td>
                      01656123360
                    </td>
                    <td>
                      PENDING
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Giảng viên</h4>
            <!-- <p class="card-category"> </p> -->
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">

                  <th>
                    Giảng viên
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    
                  </th>

                </thead>
                <tbody>
                  <tr>

                    <td>
                      Phạm Ngọc Hùng
                    </td>
                    <td>
                      hungpn@vnu.edu.vn
                    </td>
                    <td>
                      <button type="button" class="btn btn-info">Chọn</button>
                    </td>

                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>