<div class="main-content">
    <div class="container-fluid">
        <input type="text" placeholder="Partner" class="input-search">
        <input type="text" placeholder="Nội dung" class="input-search">
        <button class="btn btn-danger">Search</button>
        <div *ngFor='let new of news'>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Người đăng: {{new.ownerId.name}}</h4>
                            <p class="card-category">Ngày cập nhật: {{new.startTime}}</p>
                            <p class="card-category">Title: {{new.title}}</p>
                        </div>
                        <div class="card-body">
                            <p>{{new.content}}</p>
                            <button class="btn btn-group" [id]='new._id' (click)='assignForIntern($event)'>{{new.following}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>